<div class="main-menu menu-fixed menu-dark menu-bg-default rounded menu-accordion menu-shadow">
    <div class="main-menu-content">
        <a class="navigation-brand d-none d-md-block d-lg-block d-xl-block" href="/"><img class="brand-logo" alt="crypto ico admin logo" src="/images/logo.png"/></a>
        <ul class="navigation navigation-main" id="main-menu-navigation" data-menu="menu-navigation">
            <li class="nav-item"><a href="/dcu"><i class="ft-cpu"></i><span class="menu-title" data-i18n="">DCU</span></a></li>
            <li class="nav-item"><a href="/serverless"><i class="las la-code"></i><span class="menu-title" data-i18n="">Functions</span></a></li>
            <li class="nav-item"><a href="/proxy"><i class="las la-network-wired"></i><span class="menu-title" data-i18n="">Proxy</span></a></li>
            <li class="nav-item"><a href="/marketplace"><i class="las la-shopping-basket"></i><span class="menu-title" data-i18n="">Marketplace</span></a></li>
        </ul>
    </div>
</div>